body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("des1.jpg");
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(6, 5, 5);
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: whitesmoke;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

.buttons button:hover {
    background-color: #0056b3;
}

form {
    margin-top: 20px;
}

form input {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    background-color: #333;
    font-size: 16px;
}

form button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

form button:hover {
    background-color: #0056b3;
}
